<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
     <connectionStrings>
        <add name="SkyTree.Properties.Settings.bestwooldbConnectionString" connectionString="Data Source=LAPTOP-NUPR82VN;Initial Catalog=bestwooldb;Integrated Security=True" providerName="System.Data.SqlClient" />
        <add name="SkyTree.Properties.Settings.IPConnString" connectionString="Provider=SQLNCLI11;Data Source=LAPTOP-NUPR82VN;Integrated Security=SSPI;Initial Catalog=bestwooldb" providerName="System.Data.OleDb" />
        <add name="SkyTree.Properties.Settings.IPConnectionString" connectionString="Provider=SQLNCLI11;Data Source=LAPTOP-NUPR82VN;Integrated Security=SSPI;Initial Catalog=bestwooldb" providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.3500.0" newVersion="13.0.3500.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>